/Data/
*.png
Data/NormalTrainingData
*.png
Data/TrainingImages/AmbientOcclusion/AmbientOcclusion_2.png
Data/TrainingImages/AmbientOcclusion/AmbientOcclusion_4.png
Data/TrainingImages/Color/Color_0.png
Data/TrainingImages/Color/Color_2.png
Data/TrainingImages/Color/Color_3.png
Data/TrainingImages/Color/Color_4.png
Data/TrainingImages/Displacement/Displacement_0.png
Data/TrainingImages/Displacement/Displacement_2.png
Data/TrainingImages/Displacement/Displacement_3.png
Data/TrainingImages/Displacement/Displacement_4.png
Data/TrainingImages/Metalness/Metalness_0.png
Data/TrainingImages/NormalDX/NormalDX_0.png
Data/TrainingImages/NormalDX/NormalDX_2.png
Data/TrainingImages/NormalDX/NormalDX_3.png
Data/TrainingImages/NormalDX/NormalDX_4.png
Data/TrainingImages/NormalGL/NormalGL_0.png
Data/TrainingImages/NormalGL/NormalGL_2.png
Data/TrainingImages/NormalGL/NormalGL_3.png
Data/TrainingImages/NormalGL/NormalGL_4.png
Data/TrainingImages/Roughness/Roughness_0.png
Data/TrainingImages/Roughness/Roughness_2.png
Data/TrainingImages/Roughness/Roughness_3.png
Data/TrainingImages/Roughness/Roughness_4.png
